<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="page-wraper">
        <div class="card">
            <h2>Login your account</h2>

            <div class="main">
                <form method="post" action="/login">
                    <input class="fields"   type="email" placeholder="email" name="email">
                    <input  class="fields"  type="password" placeholder="password" name="password">
                    <input  class="fields" id="submit" type="submit" name="login" value="Login user">
                </form>
            </div>
        </div>
    </div>
       <a href="/create" class="logout-link">Register User</a>
    
</body>
</html>